[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.2"
psycopg2 = "*"
gunicorn = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-jwt-4 = "*"
pyjwt = "==1.7.1"
python-dotenv = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
