[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.2"
psycopg2 = "*"
gunicorn = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.9"
